//colors
$color-gray-light: #eeeff1;
$color-gray: #dee0e3;
$color-gray-medium: #788290;
$color-gray-dark: #2b3945;
$color-purple: #644caa;
$color-purple-dark: #4c2f96;
$color-white: #ffffff;

//font sizes
$font-small: 0.8em;
$font-basic: 0.9em;
$font-large: 2em;
$font-normal: 1em;

//font weight
$weight-bold: 600;
$weight-normal: 500;
$weight-light: 400;

$base-spacing-unit: 20px;
